In [3]:
import pandas as pd
import json

In [4]:
# Load Orders CSV
orders = pd.read_csv("orders.csv")
print("Orders Loaded:", orders.shape)

Orders Loaded: (10000, 6)

In [5]:
# Load Users JSON
users = pd.read_json("users.json")
print("Users Loaded:", users.shape)

Users Loaded: (3000, 4)

In [6]:
import sqlite3
# Create, Connect db
conn = sqlite3.connect("reastaurant.db")
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS restaurants;")
conn.commit()

# load sql script
with open("restaurants.sql","r") as file:
    script = file.read()
# Execute Sql script
cursor.executescript(script)
conn.commit()
#Read restaurants table into pandas 
restaurants = pd.read_sql("SELECT * FROM restaurants",conn)
conn.close()
print("Restaurants loaded:", restaurants.shape)

Restaurants loaded: (500, 4)

In [7]:
# Merge the data
merged = pd.merge(orders,users,on="user_id")
#file dataset 
fd = pd.merge(merged , restaurants , on="restaurant_id")

In [8]:
# Save Final dataset
fd.to_csv("final_food_delivery_dataset.csv",index="False")
print(" final_food_delivery_dataset.csv created successfully!")
print("Shape:", fd.shape)

 final_food_delivery_dataset.csv created successfully!
Shape: (10000, 12)

In [9]:
print(fd.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                restaurant_name_x       name       city membership  \
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

  restaurant_name_y  cuisine  rating
0    Restaurant_450  Mexican     3.2
1    Restaurant_309   Indian     4.5
2    Restaurant_107  Mexican     4.0
3    Restaurant_224  Chinese     4.8
4    Restaurant_293  Italian     3.0